@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Jet Brains Mono";
    src: url("/fonts/JetBrainsMono-Bold.ttf");
  } */
@font-face {
        font-family: "Jet Brains Mono";
        font-weight: 900;
        src: url('/fonts/JetBrainsMono-Bold.ttf');
    }
@font-face {
    font-family: "Jet Brains Mono";
    font-weight: 900;
    font-style: italic;
    src: url('/fonts/JetBrainsMono-BoldItalic.ttf');
}

